<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="device:replicatecontrol">
        <patch:attribute name="type">Sitecore.Shell.Framework.Commands.System.ReplicateControl, Sitecore.Kaz.Layouts</patch:attribute>
      </command>
    </commands>
  </sitecore>
</configuration>